---
import Tile from "./Tile.astro";
import { contacts } from "../data/contacts";
---

<section id="contact">
	<h1 class="px-4 sm:px-8 pt-24 pb-8 text-xl sm:text-2xl font-medium">
		Contact
	</h1>
	<div
		class="grid justify-center grid-cols-[repeat(auto-fit,minmax(12rem,1fr))] sm:grid-cols-[repeat(auto-fit,minmax(16rem,1fr))]"
	>
		{
			contacts.map((contact) => (
				<Tile
					href={contact.link}
					target="_blank"
					icon={{
						name: `simple-icons:${contact.icon}`,
						color: contact.color,
						invertInDark: contact.invertInDark,
					}}
					title={contact.name}
					label={contact.handle}
					dense
					color={contact.color}
				/>
			))
		}
	</div>
</section>
