---
import Tile from "./Tile.astro";
import { contacts } from "../data/contacts";
import SectionTitle from "./SectionTitle.astro";
import ResponsiveGrid from "./ResponsiveGrid.astro";
---

<section id="contact">
	<SectionTitle title="Contact" />
	<ResponsiveGrid>
		{
			contacts.map((contact) => (
				<Tile
					href={contact.link}
					target="_blank"
					icon={{
						name: `simple-icons:${contact.icon}`,
						color: contact.color,
						invertInDark: contact.invertInDark,
					}}
					title={contact.name}
					label={contact.handle}
					dense
					color={contact.color}
				/>
			))
		}
	</ResponsiveGrid>
</section>
