---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	ogImage?: URL | undefined;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
	Astro.props.ogImage = new URL("jeffanders-background.jpg", canonicalURL);
}

const { title, description, ogImage } = Astro.props;
---

<meta charset="utf-8" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />
<link rel="shortcut icon" type="image/png" href="favicon.png" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />

<!-- Google Analytics -->
<script type="text/partytown">
	// Google tag (gtag.js)
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());
	gtag("config", "G-1GV0KCWYC0");
</script>
<script
	type="text/partytown"
	src="https://www.googletagmanager.com/gtag/js?id=G-1GV0KCWYC0"></script>

<link
	rel="preload"
	href="/fonts/TT-Interphases-Var-Roman.woff2"
	as="font"
	type="font/woff2"
	crossorigin
/>

<ClientRouter />
