---
import { Icon } from "astro-icon/components";

/*
  Expects a prop `lists`, an array of objects from the 'lists' collection.
  Each list object contains:
    - data: an object with keys: title, brief, date, cover, external (optional)
    - slug: string (generated from the MDX file name)
*/
interface List {
	data: {
		title: string;
		date: string;
		icon?: string;
		external?: string;
	};
	slug: string;
}

const { lists }: { lists: List[] } = Astro.props as {
	lists: List[];
};

lists.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<section id="lists">
	<div
		class="grid justify-center grid-cols-[repeat(auto-fit,minmax(14rem,1fr))]"
	>
		{
			lists.map((list) => {
				const fm = list.data;
				// If external URL is provided, use that; otherwise, link to the internal list page.
				const link = fm.external ? fm.external : `/lists/${list.slug}`;
				const target = fm.external ? "_blank" : "_self";
				return (
					<a
						href={link}
						target={target}
						class="outline outline-muted p-8 flex gap-4 group justify-center"
					>
						{fm.icon && <Icon name={`mdi:${fm.icon}`} class="h-5 w-5" />}
						<h3 class="text-sm font-medium">
							<span class="animated-underline group-hover:after:w-full">
								{fm.title}
							</span>
						</h3>
					</a>
				);
			})
		}
	</div>
</section>
