---
import Tile from "./Tile.astro";

/*
  Expects a prop `lists`, an array of objects from the 'lists' collection.
  Each list object contains:
    - data: an object with keys: title, brief, date, cover, external (optional)
    - slug: string (generated from the MDX file name)
*/
interface List {
	data: {
		title: string;
		date: string;
		icon?: string;
		external?: string;
	};
	slug: string;
	color?: string;
}

const { lists }: { lists: List[] } = Astro.props as {
	lists: List[];
};

lists.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<section id="lists">
	<h1 class="px-4 sm:px-8 pt-24 pb-8 text-2xl sm:text-3xl font-medium">
		Lists
	</h1>
	<div
		class="grid justify-center grid-cols-[repeat(auto-fit,minmax(12rem,1fr))] sm:grid-cols-[repeat(auto-fit,minmax(16rem,1fr))]"
	>
		{
			lists.map((list) => {
				const link = list.data.external ? list.data.external : `/${list.slug}`;

				return (
					<Tile
						href={link}
						target={list.data.external ? "_blank" : undefined}
						icon={
							list.data.icon ? { name: `lucide:${list.data.icon}` } : undefined
						}
						title={list.data.title}
						dense
						color={list.color}
					/>
				);
			})
		}
	</div>
</section>
