---
import { Image } from "astro:assets";
import Tile from "./Tile.astro";

interface Project {
	data: {
		title: string;
		brief: string;
		date: string;
		cover: string;
		external?: string;
	};
	slug: string;
}

const { projects }: { projects: Project[] } = Astro.props as {
	projects: Project[];
};

projects.sort(
	(a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<section id="projects">
	<div
		class="grid justify-center grid-cols-[repeat(auto-fit,minmax(14rem,1fr))]"
	>
		{
			projects.map((project) => {
				const fm = project.data;
				const link = fm.external ? fm.external : `/projects/${project.slug}`;

				return (
					<Tile
						href={link}
						target={fm.external ? "_blank" : undefined}
						image={{
							src: `/src/images/projects/${project.slug}/${fm.cover}`,
							alt: fm.title,
							width: 384,
							height: 256,
							class: "aspect-[3/2]",
						}}
						title={fm.title}
						label={fm.brief}
					/>
				);
			})
		}
	</div>
</section>
