---
import { Image } from "astro:assets";
import Tile from "./Tile.astro";

interface Project {
	data: {
		title: string;
		brief: string;
		date: string;
		cover: string;
		external?: string;
		color?: string;
	};
	slug: string;
}

const { projects }: { projects: Project[] } = Astro.props as {
	projects: Project[];
};

// Sort projects by date directly in the component script
const sortedProjects = [...projects].sort(
	(a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

// Function to get the image path
function getImagePath(project: Project) {
	if (project.data.cover.startsWith("http")) {
		return project.data.cover;
	}

	// Use dynamic import for local images
	return `/src/images/projects/${project.slug}/${project.data.cover}`;
}
---

<section id="projects">
	<div
		class="grid justify-center grid-cols-[repeat(auto-fit,minmax(18rem,1fr))]"
	>
		{
			sortedProjects.map((project) => {
				const link = project.data.external
					? project.data.external
					: `/projects/${project.slug}`;

				return (
					<Tile
						href={link}
						target={project.data.external ? "_blank" : undefined}
						image={{
							src: getImagePath(project),
							alt: project.data.title,
							width: 384,
							height: 256,
						}}
						title={project.data.title}
						label={project.data.brief}
						color={project.data.color}
					/>
				);
			})
		}
	</div>
</section>
