---
import Tile from "./Tile.astro";

interface Props {
	talks: Talk[];
}

interface Talk {
	data: {
		title: string;
		brief: string;
		date: string;
		cover: string;
		external?: string;
		color?: string;
	};
	slug: string;
}

const { talks } = Astro.props as Props;

// Sort talks by date in descending order
const sortedTalks = [...talks].sort(
	(a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

// Function to get the image path
function getImagePath(talk: Talk) {
	if (talk.data.cover.startsWith("http")) {
		return talk.data.cover;
	}

	// Use path that works with Astro's image handling
	return `/src/images/talks/${talk.data.cover}`;
}
---

<section id="talks" class="outline-[0.5px] outline-muted">
	<div
		class="grid justify-center grid-cols-[repeat(auto-fit,minmax(18rem,1fr))]"
	>
		{
			sortedTalks.map((talk) => {
				const fm = talk.data;
				const link = fm.external || `/talks/${talk.slug}`;

				return (
					<Tile
						href={link}
						target={fm.external ? "_blank" : undefined}
						image={{
							src: getImagePath(talk),
							alt: fm.title,
							width: 48,
							height: 48,
							class: "object-cover w-12 h-12",
						}}
						title={fm.title}
						label={fm.brief}
						color={fm.color}
						dense
					/>
				);
			})
		}
	</div>
</section>
