---
import { Image } from "astro:assets";

/*
Expects a prop `teams`, an array of objects with:
- image: string (URL/path to the team image)
- name: string (team name)
- role: string (role)
- year: string or number (year)
- active: boolean (whether the team is active)
*/
const { teams } = Astro.props;
---

<section id="teams" class="overflow-hidden outline outline-muted">
	<div class="flex p-8 overflow-x-auto no-scrollbar gap-x-16">
		{
			teams.map(
				(team: {
					image: string;
					name: string;
					role: string;
					url: string;
					active: boolean;
				}) => (
					<a
						class="flex items-center flex-shrink-0 gap-4 group"
						href={team.url}
						target="_blank"
					>
						<Image
							src={team.image}
							alt={team.name}
							width={36}
							height={36}
							class={`rounded-xs ${team.active ? "" : "opacity-50 group-hover:opacity-100"}`}
						/>
						<div class="flex flex-col space-y-0.5">
							<h3
								class={`text-sm font-medium ${team.active ? "" : "text-muted-foreground"} group-hover:text-primary`}
							>
								<span class="animated-underline group-hover:after:w-full">
									{team.name}
								</span>
							</h3>
							<span class="text-xs text-muted-foreground/90 group-hover:text-muted-foreground">
								{team.role}
							</span>
						</div>
					</a>
				)
			)
		}
	</div>
</section>
